
exportPattern("^[^\\.]")

import(pheatmap)
import(survival)
import(survminer)
import(clustvarsel)
import(stats)
import(SummarizedExperiment)
import(utils)
importFrom("stats", "cutree", "ecdf", "median", "na.omit", "pchisq", "quantile")
importFrom("utils", "head", "setTxtProgressBar", "txtProgressBar")
